body {
  margin: 0px;
}
.topnav {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.topnav a {
  float: left;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: grey;
  color: white;
}

.topnav .icon {
  display: none;
}
/*För att få till hamburgemenyn*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
/*För att få till hamburgemenyn*/
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.textInImage button {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  border: none;
  color: white;
  padding: 1px;
  text-align: center;
  font-size: 2vw;
  width: 25%;
  opacity: 0.75;
}
.textInImage button:hover {
  background-color: white;
  color: rgb(119, 98, 98);
  opacity: 0.75;
}
.headerimage {
  height: 100%;
  background-image: url(../images/livingHeader.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imageContainer {
  position: relative;
}
/* Headertexten Iceland */
.headertext {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  font-size: 80px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
/*placerar pop-up rutorna rätt*/
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
/* Design för bilderna */
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.5;
}
/* design för texten i bilderna */
.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  padding: 2em;
  color: #333;
  text-transform: uppercase;
  font-size: 1.25em;
}

figure.hotelmenu {
  background: white;
  margin: 10;
  padding-top: 20px;
}
/* placering för texten i bilderna*/
figure.hotelmenu h2,
figure.hotelmenu p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}
/*För att få fram "triangeln när man hovrar över bilden" */
figure.hotelmenu figcaption::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid #fff;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;

  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg)
    scale3d(0, 0, 1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}
/*För att få fram "triangeln när man hovrar över bilden" */
figure.hotelmenu:hover figcaption::before {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg)
    scale3d(1, 1, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg)
    scale3d(1, 1, 1);
}
/* För att göra bildtexten osnyling när man hovrar över den */
figure.hotelmenu:hover h2 {
  opacity: 0;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}
.bookingButton {
  opacity: 0;
  width: 700px;
  height: 700px;
}
.form-popup {
  padding-top: 60px;
  display: none;
  position: fixed;
  bottom: 0px;
}

.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
}
.form-container h6 {
  font-size: 10px;
}
.form-container .btn {
  background-color: #333;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
